.tablaList {
  width: 100%;
  border-collapse: collapse;
  /* margin-block: 15px; */
}
.tablaList, .tablaList th, .tablaList td {
  border: 1px solid #444;
}
/* Título */
th {
  background-color: #444;
  color: white;
  padding: 5px;
  font-size: 1.2em;
}
/* todas las celdas */
td { padding: 8px; }
tr:nth-child(even) {background-color: #303030;}

/* TODO: cambiar */
tr td{
  text-align: center;
}
tr td:nth-child(1){ width: 30px; }
tr td:nth-child(2),
tr td:nth-child(3){
  text-align: start;
}
tr td:nth-child(4),
tr td:nth-child(5){
  width: 60px;
}
tr td:nth-child(5){ text-align: end; }
tr td:nth-child(6){
  width: 85px;
}

.iconEdit svg{
  width: 23px;
  cursor: pointer;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.iconEdit svg:hover{
  filter: brightness(1);
  -webkit-filter: brightness(1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.svgView svg { color: #69f}
.svgEdit svg { color: #7f7}
.svgDelete svg { color: #f55}
/* 
  <tr>
    <th>ID</th>
    <th>Producto</th>
    <th>Descripcion</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Acciones</th>
  </tr>
*/