.tablaList {
  width: 100%;
  border-collapse: collapse;
  /* margin-block: 15px; */
}
.tablaList, .tablaList th, .tablaList td {
  border: 1px solid #444;
}
/* Título */
th {
  background-color: #444;
  color: white;
  padding: 5px;
  font-size: 1.2em;
}
/* todas las celdas */
td { padding: 8px; }
tr:nth-child(even) {background-color: #303030;}




tr td{
  text-align: center;
}
.tablaColID{ 
  width: 30px; 
}
.tablaColNombre, .tablaColDetalles{
  text-align: start;
}
.tablaColCantidad {
  width: 50px;
  text-align: end;
}
.tablaColPrecio{
  width: 100px;
  text-align: end;
}
.tablaColAcciones {
  width: 80px;
}


.iconEdit svg{
  width: 23px;
  cursor: pointer;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.iconEdit svg:hover{
  filter: brightness(1);
  -webkit-filter: brightness(1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.svgDisabled svg{
  filter: none !important;
  cursor: default;
  color: gray !important;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-filter: none !important;
}

.svgView svg { color: #69f}
.svgEdit svg { color: #7f7}
.svgDelete svg { color: #f55}