/* @import url(header.css); */
:root{
  --navLiColor: rgb(0, 204, 204);
}
.nav {
  /* position: fixed; */
  background-color: #111;
  /* margin: 0; */
  /* top: 55px; */
  height: 100vh;
  width: 250px;
  box-shadow: 10px 0 15px #0004;
  /* left: 0; */
}
.nav .navHead {
  background-color: #000;
  padding-block: 15px;
  display: flex;
  justify-content: center;
}
.nav .navHead h3 {
  margin: 15px;
  color: var(--blueText);
  text-transform: uppercase;
}

.nav dl {
  margin: 0;
  padding: 0;
}
.nav li {
  list-style-type: none; 
  padding-inline: 15px;
  margin-block: 5px;
  height: 40px;

  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  color: white;
}
.nav li:hover {
  background-color: #222;
}
.nav li:hover, .currentTab {
  color: cyan !important;
}
.nav li svg {
  margin-right: 10px;
  height: 20px;
}

.nav dt {
  background-color: #0003;
  margin-top: 15px;
}
.nav dd {
  margin-left: 15px; 
}
.nav dd li{
  height: 30px;
  /* padding: 0; */
}