.view { 
  height: 100%;
  /* height: 100vh; */
  /* width: 100vw; */
  display: flex;
}

.body { /* header + main */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
main {
  padding: 25px;
  /* height: 85vh; */
  height: 85%;
  overflow: auto;
  /* background-color: red; */
  /* height: 99%; */
  /* width: 100vw; */
  /* height: 100vh; */
}