@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.85em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --colorPrimary: #0d6efd;
  --colorSecondary: #6c757d;
  --colorSuccess: #198754;
  --colorInfo: #0dcaf0;
  --colorWarning: #ffc107;
  --colorDanger: #dc3545;
  --colorLight: #f8f9fa;
  --colorDark: #212529;
  --colorBg: #3b3b3b;
}

body {
  margin: 0;
}

.colorVerdeClaro { color: #3cff3c; }
.colorRojoClaro { color: #ff7676 !important;}
.colorGris { color: gray}
.colorGrisClaro { color: rgb(184, 184, 184)}

.flex{display: flex;}
.flexEnd{
  display: flex;
  justify-content: flex-end;
}
.flexSeparados{
  display: flex;
  justify-content: space-between;
}
.separados {
  columns: 2;
}
hr {
  margin-bottom: 25px;
  border-color: gray;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}

label{
  font-size: 1em;
  color: var(--colorLight);
  font-family: 'Roboto', sans-serif;
}

input, select, textarea {
  background-color: var(--colorBg);
  color: var(--colorLight);
  padding: 8px;
  box-shadow: none;
  border: 1px solid var(--colorSecondary);
  border-radius: 5px;
}